*
{
	margin: 0;
	padding: 0;
	
}
header{
	background-image:url(images/sky.jpg);
	height: 1080px;
	background-size: cover;
	background-position: center;
	margin:0px;
}
body {
	background-color:#E3E3E2;
	color:skyblue;
	text-align:center;
	font-size:50px;
	margin:0px;
}
p {
	font-size:30px;
	margin:0px;
}